<% set_meta_tags title: t(".title") %>
<div class="mx-auto max-w-4xl overflow-hidden bg-base-100 py-4 sm:px-24 sm:py-24 flex-auto">
  <div class="card mx-8 max-w-full rounded-xl bg-white shadow-xl">
    <div class="card-body mx-auto items-center text-center">
      <h2 class="card-title"><%= t '.form_title' %></h2>
      <p><%= t '.form_description' %></p>
      <%= render partial:'shared/form', locals: {user: @user, url: first_login_path} %>
    </div>
  </div>
</div>
