<div class="flex flex-row">
  <div class="w-full p-4 rounded break-words border bg-white border-gray-300">
    <table id="js-table-comment" class="w-full max-w-full bg-transparent">
      <%= render comments %>
    </table>
  </div>
</div>