<div class="divider"></div>
<ul class='crud-menu-btn list-none'>
  <li class="inline-block mr-4">
    <% if current_user.like_post?(post) %>
      <%= render 'shared/unlike', { post: post } %>
    <% else %>
      <%= render 'shared/like', { post: post } %>
    <% end %>
    <%= post.post_likes.count %>
  </li>
</ul> 